# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

#firebase functions
/functions/node_modules
/functions/react-redux-firebase-1-77d47-firebase-adminsdk-somve-384d8cda0a.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
